
<div id="login-content">

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-inline my-0"}) do |f| %>

      <%= f.input :email, label: false,  placeholder: 'Ingresá tu email', required: true, autofocus: true, input_html: { autocomplete: "email", class: 'form-control mb-2 mr-sm-2' } %>

      <%= f.input :password, label: false, placeholder: 'Ingresá tu contraseña', required: true, input_html: { autocomplete: "current-password" }, input_html: { class: 'form-control mb-2 mr-sm-2' } %>

      <%= f.input :remember_me, label: 'Recordar mis datos', input_html: { class: 'form-check-input' }, as: :boolean if devise_mapping.rememberable? %>

      <%= f.button :submit, "Iniciar sesión", class: 'btn btn-outline-success my-2 my-sm-0' %>

  <% end %>

    <div class="login-error">
      <p><%= flash[:error]%></p>
    </div>
    <small class="font-weight-bold" id="register-link">
      Aún no te registraste? <%= link_to 'Haz click aquí', new_user_registration_path %>
    </small>

</div>