<ul class="list-group">
  <% if @events.any? %>
    <% @events.each do |event| %>
      <li class="list-group-item justify-content-between">
        <div class="row">
          <div class="col-md-8">
            <span class="date">
                <div class="day"><%= event.start_date.strftime('%d') %></div>
                <div class="month"><%= event.start_date.strftime('%^b ') %></div>
              </span>
            <%= link_to event.title, artist_event_path(event.artist.name, event), class: 'event-title' %></div>
          <% if current_user.artist? %>
            <div class="col-md-2">
              <%= link_to(icon('far', 'edit', 'Editar'), edit_artist_event_path(@artist, event), class: 'btn btn-success') %>
            </div>
            <div class="col-md-2">
              <%= link_to(icon('far', 'trash-alt', 'Eliminar'), artist_event_path(@artist,event), method: :delete,
                          class: 'btn btn-danger', data: { confirm: 'Desea eliminar la evaluacion?' }) %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>