<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <% if current_user.fan? %>
            <% if @is_favourite %>
              <%= link_to(icon('fas','star'), remove_artist_event_path(@event), method: :post, title: 'Eliminar de favoritos') %>
            <% else %>
              <%= link_to(icon('far','star'), add_artist_event_path(@event), method: :post, title: 'Agregar a favoritos') %>
            <% end %>
          <% end %>
        </div>
        <% if @event.picture.file.nil? %>
          <%= image_tag(@event.picture.url) %>
        <% else %>
          <%= image_tag(@event.picture.cover.url) %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= @event.title %></h2>
          <h5>Organizado por <%= link_to @event.artist.name, artist_path(@event.artist) %></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action">
              <%= icon('fas','map-marker-alt') %>
              <span><%= @event.place %></span>
            </li>
            <li class="list-group-item list-group-item-action">
              <div>
                <%= icon('far', 'clock') %>
                <span><%= @event.start_date.to_s(:long_ordinal) %> - <%= @event.end_date.to_s(:long_ordinal) %></span>
              </div>
              <p><small><%= @event.how_much_time_is_left_to_start %></small></p>
            </li>
            <li class="list-group-item list-group-item-action">
              <%= icon('fas','info-circle') %>
              <span><%= @event.description %></span>
            </li>
            <li class="list-group-item list-group-item-action">
              <%= icon('fas', 'users') %>
              <span>A <%= @event.audience_amount.to_s %> personas les gusta este evento</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>