
<div class="form-inputs">
  <%= f.input :title, autofocus: true, placeholder: 'Ingrese el nombre o título del producto' %>
  <%= f.input :description, placeholder: 'Ingrese una descripción del producto' %>
  <%= f.input :price do %>
    <div class="input-group">
      <span class="input-group-prepend">
        <span class="input-group-text">$</span>
      </span>
      <%= f.input_field :price, min: 0, step: 0.1, class: 'form-control' %>
    </div>
  <% end %>
  <%= f.input :stock, placeholder: 'Ingrese la cantididad de unidades disponibles', input_html: { min: 0, step: 1 } %>

</div>

