
<div class="form-inputs">
  <%= f.input :title, autofocus: true, placeholder: 'Ingresá el nombre o título del producto', input_html: { maxlength: 50 } %>
  <%= f.input :description, placeholder: 'Ingresá una descripción del producto. Especificá detalles del mismo' %>
  <%= f.input :price do %>
    <div class="input-group">
      <span class="input-group-prepend">
        <span class="input-group-text">$</span>
      </span>
      <%= f.input_field :price, min: 0, step: 0.1, class: 'form-control' %>
    </div>
  <% end %>
  <%= f.input :stock, placeholder: 'Ingresá la cantididad de unidades disponibles', input_html: { min: 0, step: 1 } %>

</div>

