<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="PaymentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresa tus datos para la compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form data-toggle="validator" name="customer-data" method="post" role="form" class="form-block" >
          <%= render 'layouts/form_aclaration' %>
          <p> <input type="radio" name="card" id="2" checked> <img src="http://i.imgur.com/VnMJQ8k.png" alt="" class="img-rounded" /> </p>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <div class="form-group has-feedback">
                <label for="name" class="control-label">Nombre* </label>
                <input type="text" class="form-control" autofocus="true" maxlength="25" pattern="^[A-z\s]+$" name="name" placeholder="Nombre" id="name" data-error-pattern="askdsadsa" required>
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
                <small class="help-block with-errors">El nombre que aparece en la tarjeta</small>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group has-feedback">
                <label for="surname" class="control-label">Apellido* </label>
                <input type="text" class="form-control" maxlength="25" pattern="^[A-z\s]+$" name="surname" placeholder="Apellido" id="surname" data-error-pattern="askdsadsa" required>
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
                <small class="help-block with-errors">El apellido que aparece en la tarjeta</small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <div class="form-group has-feedback">
                <label for="dni" class="control-label">DNI* </label>
                <input type="text" class="form-control" maxlength="8" pattern="^[0-9]{8}" name="dni" placeholder="DNI" id="dni" data-error-pattern="askdsadsa" required>
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
                <small class="help-block with-errors">El DNI del titular de la tarjeta</small>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group has-feedback">
                <label for="phone" class="control-label">N&uacutemero de contacto </label>
                <input type="text" class="form-control" maxlength="13" pattern="^[0-9]" name="phone" placeholder="115874258" id="phone" data-error-pattern="askdsadsa">
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
                <small class="help-block with-errors">Ingresa el c&oacutedigo de &aacuterea seguido de tu n&uacutemero</small>
              </div>
            </div>
          </div>

          <h4>Queres recibir el producto en tu casa?</h4>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <div class="form-group has-feedback">
                <label for="state" class="control-label">Provincia </label>
                <select class="custom-select" data-error="Seleccione su provincia!" name="state" id="state">
                  <option selected value="Provincia">Provincia</option>
                  <% CS.states(:AR).each_pair do |code, name| %>
                    <option value=<%= code %>><%= name %></option>
                  <% end %>
                </select>
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
                <div class="invalid-feedback">Seleccione su provincia</div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group has-feedback">
                <label for="city" class="control-label">Localidad </label>
                <select class="custom-select" name="city" id="city" disabled>
                  <option selected value="Localidad">Localidad</option>
                </select>
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
                <div class="invalid-feedback">Seleccione su provincia</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-3 mb-3">
              <div class="form-group has-feedback">
                <label for="street_name" class="control-label">Calle </label>
                <input type="text" class="form-control" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])" name="street_name" placeholder="25 de Mayo" id="street_name" data-error-pattern="askdsadsa">
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="form-group has-feedback">
                <label for="street_number" class="control-label">N&uacute </label>
                <input type="text" class="form-control" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])" name="street_number" placeholder="222" id="street_number" data-error-pattern="askdsadsa">
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="form-group has-feedback">
                <label for="zip" class="control-label">C&oacutedigo postal </label>
                <input type="text" class="form-control" maxlength="4" pattern="(?=.*\d).{,6}" name="zip" id="zip" data-error-pattern="askdsadsa">
                <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
              </div>
            </div>
          </div>

          <!--<div class="form-group has-feedback">
            <label for="card" class="control-label">Numero de tarjeta: </label>
            <input type="text" class="form-control" maxlength="19" name="num" pattern="^4\d{3}([\ \-]?)\d{4}\1\d{4}\1\d{4}$"  data-minlength="19"  placeholder="xxxx-xxxx-xxxx-xxxx" id="card"  data-minlength-error="Numero de tarjeta incompleto, faltan numeros (20)"  required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors">El numero de su tarjeta, separado por "-"</div>
          </div>
          <div class="form-group has-feedback">
            <label for="pass" class="control-label">Codigo de seguridad: </label>
            <input type="password" class="form-control" size="3" pattern="^[0-9]{1,}$" maxlength="3" data-minlength="3" name="pass" placeholder="***" id="pass" data-minlength-error="El cod. de seguridad debe tener 3 numeros"   required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors">Codido del reverso de su tarjeta </div>
          </div>
          <div class="form-group">
            <label for="date" class="control-label">Fecha de vencimiento: </label>
            <select name="month" class="btn btn-light" id="month">
              <% ('01'..'12').each do |month| %>
                <option ><%= month.to_s %></option>
              <% end %>
            </select>
            <select name="year" class="btn btn-light " id="year">
              <% (Time.now.year..Time.now.years_since(4).year).each do |year| %>
                <option><%= year.to_s %></option>
              <% end %>
            </select>
          </div> -->

          <div class="checkbox">
            <label>
              <input type="checkbox" id="terms" data-error="Debe estar seguro de pagar!" required>
              Acepto los terminos y condiciones de "RedRock"
            </label>
            <div class="help-block with-errors">
            </div>
          </div>

          <div class="alert alert-info form-group ">
            Si tienes alguna duda puedes leer el <a href="#" class="alert-link">acuerdo legal</a> del sitio
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="submitOrderForm(event)">Siguiente</button>
      </div>
    </div>
  </div>
</div>