<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- photos -->
      <div class="row">
        <% i= 0
           loop do %>
          <div class="col-md-2 offset-1">
            <% photo = @photos.next %>
            <%= image_tag(photo.image.url, size:'150x150') %>
          </div>
          <% i+= 1
             if (i.modulo 3).equal? 0 %>
            </div>
            <div class="row">
          <% end %>
          <% if i.equal? @product.photos.size %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <h2><%= @product.title %></h2>
      <p id="without-stock"><%= @product.report_stock %></p>

      <h1>$ <%= @product.price.round(2).to_s %></h1>
      <hr>
      <!-- form for order -->
      <%= render partial:'order_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Descripci&oacuten del producto</h2>
      <p><em><%= @product.description %></em></p>
    </div>
  </div>
</div>