<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- photos -->
      <div class="row">
        <% while !@photos.empty? do %>
          <% next_photos = @photos.first(3) %>
          <% next_photos.each do |photo| %>
            <div class="col-md-2 offset-1">
              <%= image_tag(photo.image.url, size:'150x150') %>
            </div>
          <% end %>
          <% @photos = @photos.drop(3) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <h2><%= @product.title %></h2>
      <p id="without-stock"><%= @product.report_stock if current_user.profile == @product.artist %></p>

      <h1>$ <%= @product.price.round(2).to_s %></h1>
      <hr>
      <!-- form for order -->
      <%= render partial:'order_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Descripci&oacuten del producto</h2>
      <p><em><%= @product.description %></em></p>
    </div>
  </div>
</div>