<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Eventos">
  <%= link_to artist_events_path(current_user.profile.name), class: 'nav-link' do %>
    <%= icon('far', 'calendar-alt') %>
    <span class="nav-link-text">Mis eventos</span>
  <% end %>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Productos">
  <%= link_to artist_products_path(current_user.profile.name), class: 'nav-link' do %>
    <%= icon('fas', 'shopping-cart') %>
    <span class="nav-link-text">Mis productos</span>
  <% end %>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Ventas">
  <%= link_to my_sales_artist_path(current_user.profile.name), class: 'nav-link' do %>
    <%= icon('fas', 'balance-scale ') %>
    <span class="nav-link-text">Mis ventas</span>
  <% end %>
</li>
