<% if user_signed_in? %>
  <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Perfil">
      <%= link_to edit_user_registration_path, class: 'nav-link' do %>
        <%= icon('far', 'user-circle') %>
        <span class="nav-link-text"><%= current_user.username %></span>
      <% end  %>
    </li>
    <% if current_user.artist? %>
      <%= render 'layouts/artist_menu' %>
    <% else %>
      <%= render 'layouts/fan_menu' %>
    <% end %>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cerrar sesión">
      <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
        <%= icon('fas','sign-out-alt') %>
        <span class="nav-link-text">Cerrar sesi&oacuten</span>
      <% end %>
    </li>
  </ul>
  <ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
      <a class="nav-link text-center" id="sidenavToggler">
        <i class="fa fa-fw fa-angle-left"></i>
      </a>
    </li>
  </ul>

<% end %>