<!DOCTYPE html>
<html lang="es">
  <head>
    <title>RockEnLasDiagonales</title>
    <meta name="description" content="Rock en las diagonales" />
    <meta name="keywords" lang="es" content="rock, La Plata, musica" >
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fixed-nav sticky-footer" id="page-top">
    <%= render partial: 'layouts/navbar' %>
    <!--  <p class="notice"><% notice %></p>
      <p class="alert"><% alert %></p>
    -->
    <% if user_signed_in? %>
      <div class="content-wrapper">
        <div class="content-fluid">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
