<!DOCTYPE html>
<html>
  <head>
    <title>RockEnLasDiagonales</title>
    <meta name="description" content="Rock en las diagonales" />
    <meta name="keywords" lang="es" content="rock, La Plata, musica" >
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'layouts/header' %>

    <main role="main">
    <!--  <p class="notice"><% notice %></p>
      <p class="alert"><% alert %></p>
    -->
      <%= yield %>
    </main>

  </body>
</html>
