<!DOCTYPE html>
<html>
  <head>
    <title>RockEnLasDiagonales</title>
    <meta name="description" content="Rock en las diagonales" />
    <meta name="keywords" lang="es" content="rock, La Plata, musica" >
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- left panel -->
        <div class="col-md-3">
          <div class="row">
            <%= render :partial => 'layouts/user_menu' %>
          </div>
          <div class="row">
            <div class="col">
              <!-- LOGO -->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!-- artist searcher -->
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>
        </div>
      </div>

    </div>

  </body>
</html>
